@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    margin: 0;
    padding: 0;
}

/* background style */
.background{
    width : 100%;
    height : 92vh;
    background-color: #070712;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* nav style*/
.nav{
    background-color: #070712;
    top: 0;
    left: 0;
    width : 100%;
    height : 8vh;
    font-family: 'Play', sans-serif;
    font-size: 1.2rem;
}

.nav ul{
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
    align-items: center;
    height: 100%;
    display: flex;
}

.nav li{
    flex: 1 1;
    list-style-type: none;
    text-shadow: 0 0 20px #0ae6ab;
    color: rgb(0, 255, 234);
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.nav li:hover{
    background-color: gray;
    flex: 1 1;
    list-style-type: none;
    text-shadow: 0 0 10px #0ae6ab;
    color: rgb(0, 255, 234);
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.nav a{
    text-decoration: none;
    color: inherit;
}

.nav a:visited{
    color: inherit;
}